body {
    background-image: url('../img/shattered.png');
}

h1 {
    border-bottom: 5px solid red;
}

h3 {
  display: inline-block;
}

.container {
    width: 1200px ;
    margin-left: auto ;
    margin-right: auto ;
}

.content {
    width: auto;
    height: auto;
    background-color: white;
}

.column-left {
  float: left;
  width: 15%;
  padding: 0px;
}

.column-right {
    float:left;
    width: 85%;
    padding: 0px;
}

.row {
    background-color: white;
    margin-top: 3px;
    height: 200px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #cc0000;
    color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
    height: 30px;
}

.teamSchedule th {
    text-align: left;
    padding: 16px;
    height: 30px;
    width: 30%;
}


tr:nth-child(even) {
    background-color: #f2f2f2
}
